DEPLOYER_PRIVATE_KEY=0xyourprivatekey
AVALANCHE_SUBNET_RPC_URL=http://127.0.0.1:9650/ext/bc/C/rpc
AVALANCHE_SUBNET_CHAIN_ID=43110

ADMIN_ADDRESS=0xAdminAddress
FOUNDATION_TREASURY_ADDRESS=0xTreasuryAddress
FALLBACK_RBT_URI=ipfs://weblock/rbt/{id}.json

WFT_CAP=1000000000000000000000000000
WFT_INITIAL_TREASURY_MINT=10000000000000000000000000
USDR_INITIAL_SUPPLY=1000000000000

USDT_ADDRESS=0xUsdtAddress
USDC_ADDRESS=0xUsdcAddress
DEPLOY_MOCK_STABLES=false

RBT_MANAGER_ADDRESS=0xSeriesManagerAddress
TOKEN_ID=1
PROPERTY_CODE=A
PROPERTY_NAME=Prime Retail Tower
ROUND_NUMBER=1
ROUND_LABEL=A-1
METADATA_URI=ipfs://weblock/rbt/a-1.json
MAX_SUPPLY=10000
SALE_START=1774000000
SALE_END=1774600000
MATURITY_DATE=1805600000
ISSUER_TREASURY=0xIssuerTreasuryAddress
SECONDARY_TRADING_ENABLED=true
PAYMENT_TOKENS=0xUsdtAddress,0xUsdcAddress
UNIT_PRICES=10000000,10000000
OPEN_SALE=true

RBT_ORDERBOOK_ADDRESS=0xOrderBookAddress
WFT_ADDRESS=0xWftAddress
USDR_ADDRESS=0xUsdrAddress
PAYMENT_TOKEN=0xUsdtOrUsdcAddress
AMOUNT=100000000
QUANTITY=10
MAX_COST=100000000
PRICE_PER_UNIT=10000000
BENEFICIARY=0xBeneficiaryAddress
EXPIRY=1774603600
ORDER_ID=1
RECIPIENT=0xRecipientAddress
RECIPIENTS=0xRecipientOne,0xRecipientTwo
AMOUNTS=1000000000000000000,2000000000000000000
UNLOCK_TIME=1775200000
LOCK_ID=0
LOCK_IDS=0,1
MEMO=sample operation
